@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.limpiarEstilos::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

/* ******************************************** */
/* ***  CABECERA   *** */
/* ******************************************** */


.derecha { float: right; }
.rojo { color: #FF5049 !important; }
.rojofocus:focus { border: 1px solid #FF5049 !important; }

.cabecera {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: linear-gradient(67deg, rgba(67,193,255,1) 0%, rgba(255,73,73,1) 100%);
}

/* ******************************************** */
/* ***  SALDO DISPONIBLE    *** */
/* ******************************************** */


.saldo {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.saldo_titulo{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.saldo_valor {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.saldo_ingreso,
.saldo_gasto {
    padding: 12px;
    text-transform: uppercase;
}

.saldo_ingreso {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.saldo_gasto {
    background-color: #FF5049;
}

#saldo_gasto,#saldo_ingreso{
    border-radius: 4px;
    border: 1px solid black;
}


.saldo_ingreso--texto,
.saldo_gasto--texto {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
}

.saldo_ingreso--valor,
.saldo_gasto--valor {
    letter-spacing: 1px;
    float: left;
}

.saldo_ingreso--porcentaje,
.saldo_gasto--porcentaje {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.saldo_gasto--porcentaje {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

/* ******************************************** */
/* ***  HACER INGRESO/GASTO    *** */
/* ******************************************** */

#agregar {
    width: auto;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.agregar_contenedor {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agregar_tipo {
    height: 80px;
    width: 150px;
    font-size: 1.9em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

#hacer_ingreso{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
}

#hacer_ingreso:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    background-color: #85fc8f;
    transform: scale(1.1);
}

#hacer_gasto{
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
}

#hacer_gasto:hover{
    color: black;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    background-color: #fc8585;
    transform: scale(1.1);
}

.agregar_descripcion,
.agregar_valor {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.agregar_descripcion { width: 400px;}
.agregar_valor { width: 100px;}

.temblor {
    animation: temblor 0.5s;
}

@keyframes temblor {
    0% {
        transform: translate(0px, -2px);
    }
    20% {
        transform: translate(0px, 2px);
    }
    40% {
        transform: translate(0px, -2px);
    }
    60% {
        transform: translate(0px, 2px);
    }
    80% {
        transform: translate(0px, 0px);
    }
}


#boton_dato{
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
}

.agregar_btn {
    display: flex;
    align-items: center;
    font-size: 1.9em;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

#boton_dato:active { transform: translateY(2px); }


/* ******************************************** */
/* ***  DIVS de ingresos y gastos   *** */
/* ******************************************** */


#lista-ingresos,#lista-gastos{
    overflow-y: scroll;
    height: 250px;
    border-radius: 4px;
}

.agregar_tipo:focus,
.agregar_descripcion:focus,
.agregar_valor:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.agregar_btn:focus { outline: none; }

.contenedor {
    width: 860px;
    margin: 60px auto;
}

.ingreso {
    float: left;
    width: 370px;
    margin-right: 70px;
}

.gasto {
    float: left;
    width: 370px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.ingreso_titulo { color: #28B9B5; }
.gasto_titulo { color: #FF5049; }

.elemento {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.elemento:first-child { border-top: 1px solid #e7e7e7; }
.elemento:nth-child(even) { background-color: #f7f7f7; }

.elemento_descripcion {
    float: left;
}

.elemento_valor {
    float: left;
    transition: transform 0.3s;
}

.elemento_porcentaje {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn {
    color: #28B9B5;
}

.gasto .elemento_valor,
.gasto .elemento_porcentaje,
.gasto .elemento_eliminar--btn {
    color: #FF5049;
}


.elemento_eliminar {
    float: left;
}

.elemento_eliminar--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.elemento_eliminar--btn:focus { outline: none; }
.elemento_eliminar--btn:active { transform: translateY(2px); }

.elemento:hover .elemento_eliminar--btn { display: block; }
.elemento:hover .elemento_valor { transform: translateX(-20px); }
.elemento:hover .elemento_porcentaje { transform: translateX(-20px); }
